* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.loader-container{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

#image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: relative;
  transition: all 1s linear;
  z-index: -1;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.btn {
  background-color: rgba(202, 202, 202, 0.301);
  backdrop-filter: blur(50px);
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.28s ease-in-out;
  outline: none;
}

.previous-btn {
  margin-left: -10px;
  border-radius: 0 60px 60px 0;
}

.next-btn {
  margin-right: -10px;
  border-radius: 60px 0 0 60px;
}

.previous-btn svg,
.next-btn svg {
  width: 45px;
  height: 45px;
  fill: white;
  transition: all 0.28s ease-in-out;
}

.btn:nth-child(1):hover {
  margin-left: -5px;
}

.btn:nth-child(2):hover {
  margin-right: -5px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
}

.btn:hover svg {
  fill: rgb(56, 56, 56);
}

.fade {
  opacity: 0;
}

/* place name */

h1 {
  width: 60%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: absolute;
  bottom: 6%;
  left: 6%;
  transition: all 0.28s ease-in-out;
}

.heading-fade {
  transform: translateX(-100%);
  opacity: 0;
}
